/* Common */
:root {
  --dark-background: #1f2937;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 75%;
  margin: 0 auto;
}

.cta-button {
  text-decoration: none;
  background-color: #3882f6;
  color: white;
  width: max-content;
  padding: 10px 40px;
  font-weight: 600;
  border-radius: 10px;
}
/* Navigation */
.nav {
  background-color: var(--dark-background);
}

.nav_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  height: max-content;
}

.logo {
  font-size: 24px;
  font-weight: 700;
  color: #f9faf8;
}

.header_links {
  display: flex;
  list-style: none;
  gap: 20px;
}

.header_link {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
  font-weight: 300;
}

/* Hero */
.hero {
  background-color: var(--dark-background);
  padding: 80px 0;
}

.hero_container {
  display: flex;
  justify-content: space-between;
  --item-width: 45%;
}

.hero_texts {
  width: var(--item-width);
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.hero_title {
  font-size: 48px;
  font-weight: 700;
  color: #f9faf8;
}

.hero_paragraph {
  font-size: 18px;
  color: #e5e7eb;
}
.hero_picture {
  width: var(--item-width);
  height: 300px;
  background-color: #999;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Random info section */

.random-info_container {
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.subtitle {
  font-size: 36px;
  font-weight: 700;
  color: #1f2937;
}
.section_cards {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.card {
  width: 160px;
  height: 300px;
}

.card_picture {
  display: block;
  width: 160px;
  height: 160px;
  border: 6px solid #3882f6;
  border-radius: 30px;
  margin-bottom: 10px;
}

.card_paragraph {
  text-align: center;
}

/* Citation */

.citation {
  background-color: #e5e7eb;
}

.citation_container {
  width: 70%;
  padding: 80px 130px;
}

.citation_paragraph {
  color: #1f2937;
  font-weight: 300;
  font-size: 36px;
  font-style: italic;
  margin: 0 auto;
  width: 100%;
}

.citation_author {
  margin-top: 15px;
  text-align: right;
  font-weight: 700;
  font-size: 20px;
}
